upstream pypi-{{ pypi_user }}-app {
    server {{ pypi_gunicorn_bind }};
}

server {
    server_name {{ pypi_nginx_domain }};
    listen 80;

{% if pypi_nginx_ssl %}
    return 301 https://$server_name$request_uri;
}

server {
    server_name {{ pypi_nginx_domain }};
    listen 443 ssl;

{% if pypi_nginx_ssl_upload %}
    ssl_certificate {{ pypi_nginx_ssl_home }}/{{ pypi_nginx_ssl_certificate | basename }};
{% else %}
    ssl_certificate {{ pypi_nginx_ssl_certificate }};
{% endif %}
{% if pypi_nginx_ssl_upload %}
    ssl_certificate_key {{ pypi_nginx_ssl_home }}/{{ pypi_nginx_ssl_private_key | basename }};
{% else %}
    ssl_certificate_key {{ pypi_nginx_ssl_private_key }};
{% endif %}
    ssl_protocols TLSv1.2;
    ssl_ciphers "RC4:HIGH:!aNULL:!MD5:!kEDH";
{% endif %}

    access_log {{ pypi_nginx_home }}/access.log;
    error_log  {{ pypi_nginx_home }}/error.log;

    location / {
        proxy_set_header        Host $host;
        proxy_set_header        X-Real-IP $remote_addr;
        proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header        X-Forwarded-Proto $scheme;

        client_max_body_size    25m;
        client_body_buffer_size 128k;
        proxy_connect_timeout   60s;
        proxy_send_timeout      60s;
        proxy_read_timeout      60s;

        proxy_redirect          off;
        proxy_buffering         off;

        proxy_pass http://pypi-{{ pypi_user }}-app;
    }
}
