[Unit]
Description=Simple pypi server ({{ pypi_user }})
After=syslog.target network-online.target
Requires=network-online.target

[Service]
Type=simple
WorkingDirectory={{ pypi_user_home }}
User={{ pypi_user }}
Restart=always
ExecStart={{ pypi_virtualenv_home }}/bin/gunicorn -w1 'pypiserver:app(root="{{ pypi_packages_home }}", password_file="{{ pypi_access_file }}")' -b {{ pypi_gunicorn_bind }}
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
